<%- include('partials/header') %>

<div class="container mt-5">
    <div class="card p-4 shadow col-md-5 mx-auto">
        <h3 class="mb-3 text-center">Register</h3>

        <form method="POST" action="/register">
            <input class="form-control mb-2" type="text" name="name" placeholder="Name" required />
            <input class="form-control mb-2" type="email" name="email" placeholder="Email" required />
            <input class="form-control mb-2" type="password" name="password" placeholder="Password" required />

            <select class="form-control mb-3" name="role" required>
                <option value="patient">Patient</option>
                <option value="doctor">Doctor</option>
            </select>

            <button class="btn btn-primary w-100">Register</button>
        </form>
    </div>
</div>

<%- include('partials/footer') %>